/* ========== 메뉴 상세 페이지 ========== */
.menuDetail{
    width: 100%;
    height: auto;
    padding: 130px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* menuDetail_head */
.menuDetail .menuDetail_head{
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 1. menuDetail_head_left */
.menuDetail .menuDetail_head .menuDetail_head_left{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.menuDetail .menuDetail_head .menuDetail_head_left .tag{
    position: absolute;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    top: 10px;
    left: 0;
    background-color: #94A66D;
    color: #F1F2F0;
}
.menuDetail .menuDetail_head .menuDetail_head_left .imgBox{
    width: 100%;
    height: 350px;
}
/* 2. menuDetail_head_right */
.menuDetail .menuDetail_head .menuDetail_head_right{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menuDetail .menuDetail_head .menuDetail_head_right .menuName{
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
}
.menuDetail .menuDetail_head .menuDetail_head_right .price{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
    text-align: end;
}
.menuDetail .menuDetail_head .menuDetail_head_right .order_wrap{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuDetail .menuDetail_head .menuDetail_head_right .order_wrap input{
    width: 80%;
    padding-left: 10px;
    height: 40px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
/* input 증감화살표 항상 보이게 하기 */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    opacity: 1;
    height: 30px;
    cursor: pointer;
}
.menuDetail .menuDetail_head .menuDetail_head_right .order_wrap .btn_wrap{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
}
.menuDetail .menuDetail_head .menuDetail_head_right .order_wrap .btn_wrap button{
    width: 40%;
    height: 100%;
    border: 1px solid #7d8e57;
    color: #7d8e57;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.menuDetail .menuDetail_head .menuDetail_head_right .order_wrap .btn_wrap button:hover{
    background-color: #7d8e57;
    color: #F1F2F0;
}
.menuDetail .menuDetail_head .menuDetail_head_right .cnt{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

hr{
    background-color: #7d8e576a;
    width: 90%;
    height: 1px;
    border: 0;
    margin-top: 50px;
}

/* menuDetail_body */
.menuDetail .menuDetail_body{
    width: 100%;
    height: 400vh;
    margin: 50px;
}
.menuDetail .menuDetail_body .imgBox{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url('../img/menuDetail.png') center no-repeat;
    background-size: contain;
}