@charset "utf-8";

.full-page-controls{
    display: none;
}

/* ========== nav 영역 ========== */
/* 1. header */
.wrap header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 80px;
    background-color: #BEC9A6;
    font-family: 'Noto Serif Toto', serif;
}
.wrap header.active{
    background-color: transparent;
    color: #e8ecdf;
}
.wrap header .container{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/* 2. menu-btn */
.wrap header .hamburger{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.wrap header .hamburger span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #F1F2F0;
    position: relative;
}
.wrap header .hamburger span{
    position: absolute;
    transition: 0.3s;
}
.wrap header .hamburger span:nth-child(1){
    top: 0;
}
.wrap header .hamburger span:nth-child(2){
    top: 50%;
}
.wrap header .hamburger span:nth-child(3){
    top: 100%;
}
/* 햄버거버튼에 active 클래스 추가 시, 스타일링 */
.wrap header .hamburger.active span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
}
.wrap header .hamburger.active span:nth-child(2){
    opacity: 0;
}
.wrap header .hamburger.active span:nth-child(3){
    top: 50%;
    transform: rotate(-45deg);
}
/* 3. logo */
.wrap header .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: #F1F2F0;
    cursor: pointer;
}

/* 4. icon-box */
.wrap header .icon-box{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}
.wrap header .icon-box svg{
    fill: none;
    stroke-width: 4px;
}

/* 5. sub-menu */
.wrap .submenu{
    width: 100%;
    height: 100vh;
    background-color: rgba(27, 27, 27, 0.47);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transform: translateY(-100%);
}
.wrap .submenu.active{
    transform: translateY(0);
}
.wrap .submenu li{
    font-size: 2rem;
    font-family: 'Noto Serif Toto', serif;
    margin: 20px 0;
    color: #F1F2F0;
    cursor: pointer;
    transition: 0.3s;
}
.wrap .submenu li:hover{
    color: #a9b78a;
}

/* 6. login 및 signup 팝업창 */
.wrap .loginBox,
.wrap .signupBox{
    display: none;
}
.wrap .loginBox.active,
.wrap .signupBox.active{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap .loginBox.active .login-txt,
.wrap .signupBox.active .signup-txt{
    width: 500px;
    height: 500px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrap .signupBox.active .signup-txt{
    height: 80vh;
}
/* 닫기 버튼 */
.wrap .loginBox.active .login-txt .closeBtn,
.wrap .signupBox.active .signup-txt .closeBtn{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    cursor: pointer;
}
.wrap .loginBox.active .login-txt .closeBtn span,
.wrap .signupBox.active .signup-txt .closeBtn span{
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #94A66D;
    position: absolute;
}
.wrap .loginBox.active .login-txt .closeBtn span:nth-child(1),
.wrap .signupBox.active .signup-txt .closeBtn span:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
}
.wrap .loginBox.active .login-txt .closeBtn span:nth-child(2),
.wrap .signupBox.active .signup-txt .closeBtn span:nth-child(2){
    transform: rotate(-45deg);
    top: 50%;
}
/* 로그인 및 회원가입 입력 창 */
.wrap .loginBox.active .login-txt .input-box,
.wrap .signupBox.active .signup-txt .input-box{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.wrap .loginBox.active .login-txt .input-box input,
.wrap .signupBox.active .signup-txt .input-box input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #000;
    padding-left: 10px;
}
.wrap .signupBox.active .signup-txt .input-box input{
    margin: 15px 0;
}
.wrap .signupBox.active .signup-txt .input-box input.essential::placeholder{
    color: rgba(255, 0, 0, 0.414);
}
.wrap .signupBox.active .signup-txt .input-box input.essential{
    border-bottom: 1px solid rgba(255, 0, 0, 0.414);
}
/* 로그인 및 회원가입 버튼 */
.wrap .loginBox.active .login-txt .input-box .submitBtn,
.wrap .signupBox.active .signup-txt .input-box .submitBtn{
    width: 100%;
    height: 30px;
    border: 1px solid #7d8e57;
    line-height: 30px;
    text-align: center;
    color: #7d8e57;
    border-radius: 3px;
    margin-top: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.wrap .loginBox.active .login-txt .input-box .submitBtn:hover,
.wrap .signupBox.active .signup-txt .input-box .submitBtn:hover{
    background-color: #7d8e57;
    color: #e8ecdf;
}
/* 회원가입 및 로그인 알림 */
.wrap .loginBox.active .login-txt .alarm,
.wrap .signupBox.active .signup-txt .alarm{
    font-size: 0.8rem;
    color: lightgray;
    text-decoration: underline;
    width: 80%;
    text-align: end;
    margin-top: 10px;
    cursor: pointer;
}


/* ========== banner 영역 ========== */
.banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* 1. 좌측 가게 사진 박스 */
.banner .banner-box-left{
    width: 25vw;
    height: 60vh;
    border-top-left-radius: 250px;
    background: url(../img/background.jpg) center center no-repeat;
    background-size: cover;
    margin-right: 20px;
}
/* 2. 우측 설명 및 음식 박스 */
.banner .banner-box-right{
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.banner .banner-box-right .txt-box{
    width: 100%;
    height: 25%;
    background-color: #94A66D;
    color: #E8ECDF;
    font-family: 'Noto Serif Toto', serif;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner .banner-box-right .txt-box p{
    text-transform: capitalize;
}
.banner .banner-box-right .txt-box .time{
    margin-top: 10px;
    font-size: 0.8rem;
}
.banner .banner-box-right .img-box{
    width: 100%;
    height: calc(75% - 20px);
    background: url(../img/pudding.jpg) no-repeat center center;
    background-size: cover;
}

/* section2 영역 */
.sec1{
    width: 100%;
    height: 100vh;
}
/* 1. sec-head */
.sec1 .sec1-head{
    width: 100%;
    height: 60%;
    background : url(../img/dark-main2.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2 .sec2-head{
    width: 100%;
    height: 60%;
    background : url(../img/dark-main1.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1 .sec1-head .txt-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f1f2f0;
    text-align: center;
}
.sec1 .sec1-head .txt-box h2{
    font-family: 'Noto Serif Toto', serif;
    font-size: 50px;
    padding-bottom: 10px;
    text-transform : capitalize;
}
.sec1 .sec1-head .txt-box p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
}

/* 2. sec-body */
.sec1 .sec1-body,
.sec2 .sec2-body{
    position: relative;
    width: 1100px;
    margin: 0 auto;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1 .sec1-body .slide-wrap-outer,
.sec2 .sec2-body .slide-wrap-outer{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;

}
.sec1 .sec1-body .slide-wrap{
    width: 2400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    animation: swiper1 30s infinite steps(7);
}
@keyframes swiper1{
    to{
        transform: translateX(-1400px);
    }
}
.sec2 .sec2-body .slide-wrap{
    width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    animation: swiper2 30s infinite steps(5);
}
@keyframes swiper2{
    to{
        transform: translateX(-1000px);
    }
}
.sec1 .sec1-body .slide-wrap-outer:hover .slide-wrap,
.sec2 .sec2-body .slide-wrap-outer:hover .slide-wrap{
    animation-play-state: paused;
}
.sec1 .sec1-body .slide-wrap .slide,
.sec2 .sec2-body .slide-wrap .slide{
    width: 200px;
    height: 250px;
    margin: 10px;
}

/* sec1-body > img-box 호버 시, img 변경 */
.sec1 .sec1-body .slide-wrap .slide .img-box img{
    transition: 0.3s;
}
.sec1 .sec1-body .slide-wrap .slide:nth-child(1) .img-box{
    background: url(../img/조선향미푸딩메인.jpg) no-repeat center center;
    background-size: cover;
}
.sec1 .sec1-body .slide-wrap .slide:nth-child(2) .img-box{
    background: url(../img/바나나푸딩메인.jpg) no-repeat center center;
    background-size: cover;
}
.sec1 .sec1-body .slide-wrap .slide:nth-child(3) .img-box{
    background: url(../img/바나나카라멜푸딩메인.jpg) no-repeat center center;
    background-size: cover;
}
.sec1 .sec1-body .slide-wrap .slide:nth-child(4) .img-box{
    background: url(../img/베리치즈푸딩메인.jpg) no-repeat center center;
    background-size: cover;
}
.sec1 .sec1-body .slide-wrap .slide:nth-child(5) .img-box{
    background: url(../img/다크초코푸딩메인.jpg) no-repeat center center;
    background-size: cover;
}
.sec1 .sec1-body .slide-wrap .slide:nth-child(6) .img-box{
    background: url(../img/민트초코푸딩메인.jpg) no-repeat center center;
    background-size: cover;
}
.sec1 .sec1-body .slide-wrap .slide:nth-child(7) .img-box{
    background: url(../img/제주말차푸딩메인.jpg) no-repeat center center;
    background-size: cover;
}
.sec1 .sec1-body .slide-wrap .slide:nth-child(8) .img-box{
    background: url(../img/티라미수푸딩메인.jpg) no-repeat center center;
    background-size: cover;
}
.sec1 .sec1-body .slide-wrap .slide:nth-child(9) .img-box{
    background: url(../img/인절미푸딩메인.jpg) no-repeat center center;
    background-size: cover;
}
.sec1 .sec1-body .slide-wrap .slide:nth-child(10) .img-box{
    background: url(../img/흑임자푸딩메인.jpg) no-repeat center center;
    background-size: cover;
}
.sec1 .sec1-body .slide-wrap .slide:nth-child(11) .img-box{
    background: url(../img/쑥푸딩메인.jpg) no-repeat center center;
    background-size: cover;
}
.sec1 .sec1-body .slide-wrap .slide:nth-child(12) .img-box{
    background: url(../img/밀크티푸딩메인.jpg) no-repeat center center;
    background-size: cover;
}
.sec1 .sec1-body .slide-wrap .slide:hover .img-box img{
    opacity: 0;
}
.sec1 .sec1-body .slide-wrap .slide .img-box,
.sec2 .sec2-body .slide-wrap .slide .img-box{
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}
.sec1 .sec1-body .slide-wrap .slide .txt-box,
.sec2 .sec2-body .slide-wrap .slide .txt-box{
    width: 100%;
    height: 50px;
    text-align: center;
    cursor: pointer;
}
.sec1 .sec1-body .slide-wrap .slide .txt-box p,
.sec2 .sec2-body .slide-wrap .slide .txt-box p{
    font-size: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    transition: 0.3s;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.sec1 .sec1-body .slide-wrap .slide .txt-box:hover p,
.sec2 .sec2-body .slide-wrap .slide .txt-box:hover p{
    text-decoration: underline;
}
.sec1 .sec1-body .slide-wrap .slide .txt-box span,
.sec2 .sec2-body .slide-wrap .slide .txt-box span{
    font-size: 0.8rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    color: #A5AFA5;
}

/* slide btn */
.prevBtn,
.nextBtn{
    width: 30px;
    height: 50px;
    background-color: #7d8e572f;
    text-align: center;
    font-size: 30px;
    color: #7d8e57;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.nextBtn{
    right: 0;
}
.prevBtn::after{
    content: '<';
}
.nextBtn::after{
    content: '>';
}

/* footer 영역 */
#root{
    position: relative;
    width: 100%;
    height: calc(300vh + 300px);
}
footer{
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
}

/* sidebar */
aside{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    z-index: 99;
}
aside .sideBtn{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 99;
}
aside .sideBtn p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: #7d8e57;
}
aside .sideBtn .imgBox{
    width: 100%;
    height: 100%;
    background: url(../img/menuBtn.svg) no-repeat center center;
    background-size: cover;
    animation: menuRotate 8s linear infinite;
}
@keyframes menuRotate {
    to{
        rotate : 360deg;
    }
}

/* sideBtn-menu-wrap */
.sideBtn-menu-wrap{
    width: 135px;
    height: 135px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    overflow: hidden;
    z-index: -1;
}
.sideBtn-menu-wrap .sideBtn-menu{
    width: 100%;
    height: 100%;
    transform: translate(100%, 100%);
    transition: 0.3s;
    z-index: 0;
}
.sideBtn-menu-wrap .sideBtn-menu.active{
    transform: translate(0, 0);
}
.sideBtn-menu-wrap .sideBtn-menu a{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 40px;
    font-size: 0.5rem;
    transition: 0.3s;
}
.sideBtn-menu-wrap .sideBtn-menu a:hover{
    background-color: #94a66d83;
}
.sideBtn-menu-wrap .sideBtn-menu a:nth-child(1){
    right: 0;
    top: 0;
}
.sideBtn-menu-wrap .sideBtn-menu a:nth-child(2){
    right: 45px;
    top: 10px;
}
.sideBtn-menu-wrap .sideBtn-menu a:nth-child(3){
    left: 15px;
    top: 45px;
}
.sideBtn-menu-wrap .sideBtn-menu a:nth-child(4){
    left: 0;
    bottom: 0;
}